.flex-container {
    display: flex;
    background-color: DodgerBlue;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .flex-container > div {
     margin: 10px;
    padding: 20px;
    font-size: 30px;

  }
  .flex-container div {
    color: red;
  }
  .flex-container  img{
      width: 50px;
      height: 65px;

  }
   .center > div{
    border: 2px;
    border-style: dotted;
    background-color: yellowgreen;
  }
  .center{
    display: flex;
    background-color: rgb(7, 31, 54);
    justify-content: space-between;
    border: darkmagenta;
    height: 500px;
  }
  .center p{
    color: blanchedalmond;
    justify-content: space-between;
    margin: 150px;
  }
  .full{
    display: flex;
    background-color: DodgerBlue;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .list{
    display: flex;
    background-color: rgb(107, 20, 103);
    flex-wrap: wrap;
    justify-content: space-between;
    height: 250px;


  }
  .list ul {
    margin: 50px;
    font-size: 50px;
    text-justify: newspaper;
  }  
  .footer{
    display: flex;
    background-color: DodgerBlue;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  [class*=".flex-container"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 600px) {
 /*    For tablets:*/ 
    .center{width:80%;}
    .full{width:100%;}
    .list{width:80%;}
    .footer{width:100%;}
  }
  @media only screen and (min-width: 768px) {
   /* For desktop:*/ 
  .center{width:100%;}
    .full{width:100%;}
    .list{width:100%;}
    .footer{width:100%;}
  }